@import "variables";

// https://www.w3schools.com/howto/howto_css_loader.asp


.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid $col_loader_inner;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-inline: auto;
    margin-bottom: 15px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }